<table [ngClass]="{ 'promo': product.czyPromocja }">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Data utworzenia</th>
        <th>Dodaj do koszyka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ product.nazwa }}</td>
        <td>{{ product.cena }}</td>
        <td>{{ product.dataUtworzenia | date:'dd.MM.yyyy' }}r.</td>
        <td>
          <button (click)="dodajDoKoszyka()">Dodaj do koszyka</button>
        </td>
      </tr>
    </tbody>
  </table>